
.navbar__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  justify-content: space-evenly;
  background-image: linear-gradient(to left, var(--yellow), var(--red));
}

.navbar__logoImg {
  display: block;
  position: relative;
  top: -20%;
  height: 200%;
}
